In [3]:
# Databricks notebook source in PySpark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark DataFrames').getOrCreate()

In [ ]:
# pip install pyspark

In [11]:
import pandas as pd
df2=pd.read_csv('/content/sample_data/StudentData.csv')

In [15]:
df2.head(3)

,age,gender,name,course,Unnamed: 4,roll,marks,email
0,28.0,Female,Hubert Oliveras,DB,59.0,2984.0,59,Annika Hoffman_Naoma Fritts@OOP.com
1,29.0,Female,Toshiko Hillyard,Cloud,62.0,12899.0,62,Margene Moores_Marylee Capasso@DB.com
2,28.0,Male,Celeste Lollis,PF,45.0,21267.0,45,Jeannetta Golden_Jenna Montague@DSA.com

In [21]:
df2.iloc[2:5,0:3]

    age  gender            name
2  28.0    Male  Celeste Lollis
3  29.0  Female    Elenore Choy
4  28.0    Male  Sheryll Towler

In [23]:
type(df2['gender'])

pandas.core.series.Series

In [13]:
df2.tail()

,age,gender,name,course,Unnamed: 4,roll,marks,email
997,28.0,Male,Tamera Blakley,DSA,NaN,9971217.0,26,Anna Santos_Claude Panos@PF.com
998,28.0,Female,Tamera Blakley,MVC,NaN,9982779.0,71,Toshiko Hillyard_Anna Santos@DSA.com
999,29.0,Female,Jenna Montague,PF,NaN,9991617.0,23,Anna Santos_Jenna Montague@DB.com
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,31.0,Male,NaN,DSA,NaN,NaN,?,NaN

In [24]:
type(df2)

pandas.core.frame.DataFrame

In [29]:
# import dataset csv
df=spark.read.option("header",True).csv('/content/sample_data/emp.csv')

In [30]:
df.show()

+------+---+------+
|salary|age|  name|
+------+---+------+
|  75.3| 85|Sachin|
+------+---+------+

In [31]:
# print schema of the dataset
df.printSchema()

root
 |-- salary: string (nullable = true)
 |-- age: string (nullable = true)
 |-- name: string (nullable = true)

In [36]:
# import dataset csv
df3=spark.read.options(inferSchema='True', header='True',delimiter=',').csv('/content/sample_data/StudentData.csv')

In [37]:
df3.show()

+---+------+----------------+------+----+------+-----+--------------------+
|age|gender|            name|course| _c4|  roll|marks|               email|
+---+------+----------------+------+----+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  59|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|  62| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|  45| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|  59| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|  41| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|  32| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|  69| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|  85| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|  64| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|NULL| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|NULL|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|NULL|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|NULL|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|NULL|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|NULL|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|NULL|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|NULL|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|NULL|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|NULL|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|NULL|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+----+------+-----+--------------------+
only showing top 20 rows

In [38]:
# print schema of the dataset
df3.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [40]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [45]:
schema= StructType([
                    StructField("age", IntegerType(), True),
                    # StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
])

In [46]:
df4=spark.read.options(header='True').schema(schema).csv('/content/sample_data/StudentData.csv')

In [47]:
df4.show()

+---+------+----------------+-----+-----+------+
|age|  name|          course| roll|marks| email|
+---+------+----------------+-----+-----+------+
| 28|Female| Hubert Oliveras|   DB|   59|  2984|
| 29|Female|Toshiko Hillyard|Cloud|   62| 12899|
| 28|  Male|  Celeste Lollis|   PF|   45| 21267|
| 29|Female|    Elenore Choy|   DB|   59| 32877|
| 28|  Male|  Sheryll Towler|  DSA|   41| 41487|
| 28|  Male|  Margene Moores|  MVC|   32| 52771|
| 28|  Male|     Neda Briski|  OOP|   69| 61973|
| 28|Female|    Claude Panos|Cloud|   85| 72409|
| 28|  Male|  Celeste Lollis|  MVC|   64| 81492|
| 29|  Male|  Cordie Harnois|  OOP| NULL| 92882|
| 29|Female|       Kena Wild|  DSA| NULL|102285|
| 29|  Male| Ernest Rossbach|   DB| NULL|111449|
| 28|Female|  Latia Vanhoose|   DB| NULL|122502|
| 29|Female|  Latia Vanhoose|  MVC| NULL|132110|
| 29|  Male|     Neda Briski|   PF| NULL|141770|
| 29|Female|  Latia Vanhoose|   DB| NULL|152159|
| 29|  Male|  Loris Crossett|  MVC| NULL|161771|
| 29|  Male|  Annika Hoffman|  OOP| NULL|171660|
| 29|  Male|   Santa Kerfien|   PF| NULL|182129|
| 28|Female|Mickey Cortright|   DB| NULL|192537|
+---+------+----------------+-----+-----+------+
only showing top 20 rows

In [48]:
df4.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [49]:
# select particular columns Method # 1
df4.select(df4.age,df4.email).show()

+---+------+
|age| email|
+---+------+
| 28|  2984|
| 29| 12899|
| 28| 21267|
| 29| 32877|
| 28| 41487|
| 28| 52771|
| 28| 61973|
| 28| 72409|
| 28| 81492|
| 29| 92882|
| 29|102285|
| 29|111449|
| 28|122502|
| 29|132110|
| 29|141770|
| 29|152159|
| 29|161771|
| 29|171660|
| 29|182129|
| 28|192537|
+---+------+
only showing top 20 rows

In [50]:
df5=df4.select(df4.age,df4.email)
df5.show()

+---+------+
|age| email|
+---+------+
| 28|  2984|
| 29| 12899|
| 28| 21267|
| 29| 32877|
| 28| 41487|
| 28| 52771|
| 28| 61973|
| 28| 72409|
| 28| 81492|
| 29| 92882|
| 29|102285|
| 29|111449|
| 28|122502|
| 29|132110|
| 29|141770|
| 29|152159|
| 29|161771|
| 29|171660|
| 29|182129|
| 28|192537|
+---+------+
only showing top 20 rows

In [51]:
df4.show()

+---+------+----------------+-----+-----+------+
|age|  name|          course| roll|marks| email|
+---+------+----------------+-----+-----+------+
| 28|Female| Hubert Oliveras|   DB|   59|  2984|
| 29|Female|Toshiko Hillyard|Cloud|   62| 12899|
| 28|  Male|  Celeste Lollis|   PF|   45| 21267|
| 29|Female|    Elenore Choy|   DB|   59| 32877|
| 28|  Male|  Sheryll Towler|  DSA|   41| 41487|
| 28|  Male|  Margene Moores|  MVC|   32| 52771|
| 28|  Male|     Neda Briski|  OOP|   69| 61973|
| 28|Female|    Claude Panos|Cloud|   85| 72409|
| 28|  Male|  Celeste Lollis|  MVC|   64| 81492|
| 29|  Male|  Cordie Harnois|  OOP| NULL| 92882|
| 29|Female|       Kena Wild|  DSA| NULL|102285|
| 29|  Male| Ernest Rossbach|   DB| NULL|111449|
| 28|Female|  Latia Vanhoose|   DB| NULL|122502|
| 29|Female|  Latia Vanhoose|  MVC| NULL|132110|
| 29|  Male|     Neda Briski|   PF| NULL|141770|
| 29|Female|  Latia Vanhoose|   DB| NULL|152159|
| 29|  Male|  Loris Crossett|  MVC| NULL|161771|
| 29|  Male|  Annika Hoffman|  OOP| NULL|171660|
| 29|  Male|   Santa Kerfien|   PF| NULL|182129|
| 28|Female|Mickey Cortright|   DB| NULL|192537|
+---+------+----------------+-----+-----+------+
only showing top 20 rows

In [54]:
# select particular columns Method # 2
df4.select("age","name").show()

+---+------+
|age|  name|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
| 29|Female|
| 28|  Male|
| 28|  Male|
| 28|  Male|
| 28|Female|
| 28|  Male|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 28|Female|
| 29|Female|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 29|  Male|
| 29|  Male|
| 28|Female|
+---+------+
only showing top 20 rows

In [59]:
# SQL functions in PySpark
from pyspark.sql.functions import col

In [61]:
# df4.show()

+---+------+----------------+-----+-----+------+
|age|  name|          course| roll|marks| email|
+---+------+----------------+-----+-----+------+
| 28|Female| Hubert Oliveras|   DB|   59|  2984|
| 29|Female|Toshiko Hillyard|Cloud|   62| 12899|
| 28|  Male|  Celeste Lollis|   PF|   45| 21267|
| 29|Female|    Elenore Choy|   DB|   59| 32877|
| 28|  Male|  Sheryll Towler|  DSA|   41| 41487|
| 28|  Male|  Margene Moores|  MVC|   32| 52771|
| 28|  Male|     Neda Briski|  OOP|   69| 61973|
| 28|Female|    Claude Panos|Cloud|   85| 72409|
| 28|  Male|  Celeste Lollis|  MVC|   64| 81492|
| 29|  Male|  Cordie Harnois|  OOP| NULL| 92882|
| 29|Female|       Kena Wild|  DSA| NULL|102285|
| 29|  Male| Ernest Rossbach|   DB| NULL|111449|
| 28|Female|  Latia Vanhoose|   DB| NULL|122502|
| 29|Female|  Latia Vanhoose|  MVC| NULL|132110|
| 29|  Male|     Neda Briski|   PF| NULL|141770|
| 29|Female|  Latia Vanhoose|   DB| NULL|152159|
| 29|  Male|  Loris Crossett|  MVC| NULL|161771|
| 29|  Male|  Annika Hoffman|  OOP| NULL|171660|
| 29|  Male|   Santa Kerfien|   PF| NULL|182129|
| 28|Female|Mickey Cortright|   DB| NULL|192537|
+---+------+----------------+-----+-----+------+
only showing top 20 rows

In [62]:
df4.select(col('marks'),col("name"),col("age")).show()

+-----+------+---+
|marks|  name|age|
+-----+------+---+
|   59|Female| 28|
|   62|Female| 29|
|   45|  Male| 28|
|   59|Female| 29|
|   41|  Male| 28|
|   32|  Male| 28|
|   69|  Male| 28|
|   85|Female| 28|
|   64|  Male| 28|
| NULL|  Male| 29|
| NULL|Female| 29|
| NULL|  Male| 29|
| NULL|Female| 28|
| NULL|Female| 29|
| NULL|  Male| 29|
| NULL|Female| 29|
| NULL|  Male| 29|
| NULL|  Male| 29|
| NULL|  Male| 29|
| NULL|Female| 28|
+-----+------+---+
only showing top 20 rows

In [64]:
print
df4.select('*').show()

+---+------+----------------+-----+-----+------+
|age|  name|          course| roll|marks| email|
+---+------+----------------+-----+-----+------+
| 28|Female| Hubert Oliveras|   DB|   59|  2984|
| 29|Female|Toshiko Hillyard|Cloud|   62| 12899|
| 28|  Male|  Celeste Lollis|   PF|   45| 21267|
| 29|Female|    Elenore Choy|   DB|   59| 32877|
| 28|  Male|  Sheryll Towler|  DSA|   41| 41487|
| 28|  Male|  Margene Moores|  MVC|   32| 52771|
| 28|  Male|     Neda Briski|  OOP|   69| 61973|
| 28|Female|    Claude Panos|Cloud|   85| 72409|
| 28|  Male|  Celeste Lollis|  MVC|   64| 81492|
| 29|  Male|  Cordie Harnois|  OOP| NULL| 92882|
| 29|Female|       Kena Wild|  DSA| NULL|102285|
| 29|  Male| Ernest Rossbach|   DB| NULL|111449|
| 28|Female|  Latia Vanhoose|   DB| NULL|122502|
| 29|Female|  Latia Vanhoose|  MVC| NULL|132110|
| 29|  Male|     Neda Briski|   PF| NULL|141770|
| 29|Female|  Latia Vanhoose|   DB| NULL|152159|
| 29|  Male|  Loris Crossett|  MVC| NULL|161771|
| 29|  Male|  Annika Hoffman|  OOP| NULL|171660|
| 29|  Male|   Santa Kerfien|   PF| NULL|182129|
| 28|Female|Mickey Cortright|   DB| NULL|192537|
+---+------+----------------+-----+-----+------+
only showing top 20 rows

In [65]:
df4.select(df4.columns[2:4]).show()

+----------------+-----+
|          course| roll|
+----------------+-----+
| Hubert Oliveras|   DB|
|Toshiko Hillyard|Cloud|
|  Celeste Lollis|   PF|
|    Elenore Choy|   DB|
|  Sheryll Towler|  DSA|
|  Margene Moores|  MVC|
|     Neda Briski|  OOP|
|    Claude Panos|Cloud|
|  Celeste Lollis|  MVC|
|  Cordie Harnois|  OOP|
|       Kena Wild|  DSA|
| Ernest Rossbach|   DB|
|  Latia Vanhoose|   DB|
|  Latia Vanhoose|  MVC|
|     Neda Briski|   PF|
|  Latia Vanhoose|   DB|
|  Loris Crossett|  MVC|
|  Annika Hoffman|  OOP|
|   Santa Kerfien|   PF|
|Mickey Cortright|   DB|
+----------------+-----+
only showing top 20 rows

In [ ]:
# Scala ---> Python + Scala