In [2]:
# Databricks notebook source
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Second App").getOrCreate()

In [44]:
df= spark.read.options(header='True',inferScema='True').csv('/content/sample_data/StudentData_.csv')

In [18]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [19]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [7]:
df.select(df.name, df.email).show()

+----------------+--------------------+
|            name|               email|
+----------------+--------------------+
| Hubert Oliveras|Annika Hoffman_Na...|
|Toshiko Hillyard|Margene Moores_Ma...|
|  Celeste Lollis|Jeannetta Golden_...|
|    Elenore Choy|Billi Clore_Mitzi...|
|  Sheryll Towler|Claude Panos_Judi...|
|  Margene Moores|Toshiko Hillyard_...|
|     Neda Briski|Alberta Freund_El...|
|    Claude Panos|Sheryll Towler_Al...|
|  Celeste Lollis|Nicole Harwood_Cl...|
|  Cordie Harnois|Judie Chipps_Clem...|
|       Kena Wild|Dustin Feagins_Ma...|
| Ernest Rossbach|Maybell Duguay_Ab...|
|  Latia Vanhoose|Latia Vanhoose_Mi...|
|  Latia Vanhoose|Eda Neathery_Nico...|
|     Neda Briski|Margene Moores_Mi...|
|  Latia Vanhoose|Claude Panos_Sant...|
|  Loris Crossett|Mitzi Seldon_Jenn...|
|  Annika Hoffman|Taryn Brownlee_Mi...|
|   Santa Kerfien|Judie Chipps_Tary...|
|Mickey Cortright|Ernest Rossbach_M...|
+----------------+--------------------+
only showing top 20 rows

In [8]:
df.select('*').show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [9]:
# withColumn
from pyspark.sql.functions import col, lit
df=df.withColumn('roll',col('roll').cast('String'))

In [10]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [14]:
df=df.withColumnRenamed('roll','new_roll')

In [16]:
df.show()

+---+------+----------------+------+--------+-----+--------------------+
|age|gender|            name|course|new_roll|marks|               email|
+---+------+----------------+------+--------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|    2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|   12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|   21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|   32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|   41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|   52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|   61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|   72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|   81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|   92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|  102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|  111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|  122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|  132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|  141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|  152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|  161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|  171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|  182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|  192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+--------+-----+--------------------+
only showing top 20 rows

In [24]:
data=[('Sachin',23),('Manish',52),('Vipin',12)]
columns= ["name","marks"]

df_custom = spark.createDataFrame(data, columns)

In [25]:
df_custom.show()

+------+-----+
|  name|marks|
+------+-----+
|Sachin|   23|
|Manish|   52|
| Vipin|   12|
+------+-----+

In [26]:
df_custom.printSchema()

root
 |-- name: string (nullable = true)
 |-- marks: long (nullable = true)

In [29]:
# transformation
df_with_new_column = df_custom.withColumn('marks_new',col('marks')+10)
df_with_new_column.show()

+------+-----+---------+
|  name|marks|marks_new|
+------+-----+---------+
|Sachin|   23|       33|
|Manish|   52|       62|
| Vipin|   12|       22|
+------+-----+---------+

In [30]:
df_with_new_update_column = df_custom.withColumn('marks',col('marks')+10)
df_with_new_update_column.show()

+------+-----+
|  name|marks|
+------+-----+
|Sachin|   33|
|Manish|   62|
| Vipin|   22|
+------+-----+

In [34]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [35]:
# lit command
df= df.withColumn('Contry_name',lit('USA'))
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+
|age|gender|            name|course|  roll|marks|               email|Contry_name|
+---+------+----------------+------+------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        USA|
+---+------+----------------+------+------+-----+--------------------+-----------+
only showing top 20 rows

In [36]:
df= df.withColumn('marks',col('marks')-10).withColumn('Contry_name',lit('India'))

In [37]:
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+
|age|gender|            name|course|  roll|marks|               email|Contry_name|
+---+------+----------------+------+------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|  2984| 49.0|Annika Hoffman_Na...|      India|
| 29|Female|Toshiko Hillyard| Cloud| 12899| 52.0|Margene Moores_Ma...|      India|
| 28|  Male|  Celeste Lollis|    PF| 21267| 35.0|Jeannetta Golden_...|      India|
| 29|Female|    Elenore Choy|    DB| 32877| 19.0|Billi Clore_Mitzi...|      India|
| 28|  Male|  Sheryll Towler|   DSA| 41487| 31.0|Claude Panos_Judi...|      India|
| 28|  Male|  Margene Moores|   MVC| 52771| 22.0|Toshiko Hillyard_...|      India|
| 28|  Male|     Neda Briski|   OOP| 61973| 59.0|Alberta Freund_El...|      India|
| 28|Female|    Claude Panos| Cloud| 72409| 75.0|Sheryll Towler_Al...|      India|
| 28|  Male|  Celeste Lollis|   MVC| 81492| 54.0|Nicole Harwood_Cl...|      India|
| 29|  Male|  Cordie Harnois|   OOP| 92882| 41.0|Judie Chipps_Clem...|      India|
| 29|Female|       Kena Wild|   DSA|102285| 25.0|Dustin Feagins_Ma...|      India|
| 29|  Male| Ernest Rossbach|    DB|111449| 43.0|Maybell Duguay_Ab...|      India|
| 28|Female|  Latia Vanhoose|    DB|122502| 17.0|Latia Vanhoose_Mi...|      India|
| 29|Female|  Latia Vanhoose|   MVC|132110| 45.0|Eda Neathery_Nico...|      India|
| 29|  Male|     Neda Briski|    PF|141770| 32.0|Margene Moores_Mi...|      India|
| 29|Female|  Latia Vanhoose|    DB|152159| 17.0|Claude Panos_Sant...|      India|
| 29|  Male|  Loris Crossett|   MVC|161771| 26.0|Mitzi Seldon_Jenn...|      India|
| 29|  Male|  Annika Hoffman|   OOP|171660| 12.0|Taryn Brownlee_Mi...|      India|
| 29|  Male|   Santa Kerfien|    PF|182129| 46.0|Judie Chipps_Tary...|      India|
| 28|Female|Mickey Cortright|    DB|192537| 52.0|Ernest Rossbach_M...|      India|
+---+------+----------------+------+------+-----+--------------------+-----------+
only showing top 20 rows

In [38]:
# renamed multiple columns in single line
df = df.withColumnRenamed("gender","sex").withColumnRenamed("roll", "roll number")
df.show()

+---+------+----------------+------+-----------+-----+--------------------+-----------+
|age|   sex|            name|course|roll number|marks|               email|Contry_name|
+---+------+----------------+------+-----------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|       2984| 49.0|Annika Hoffman_Na...|      India|
| 29|Female|Toshiko Hillyard| Cloud|      12899| 52.0|Margene Moores_Ma...|      India|
| 28|  Male|  Celeste Lollis|    PF|      21267| 35.0|Jeannetta Golden_...|      India|
| 29|Female|    Elenore Choy|    DB|      32877| 19.0|Billi Clore_Mitzi...|      India|
| 28|  Male|  Sheryll Towler|   DSA|      41487| 31.0|Claude Panos_Judi...|      India|
| 28|  Male|  Margene Moores|   MVC|      52771| 22.0|Toshiko Hillyard_...|      India|
| 28|  Male|     Neda Briski|   OOP|      61973| 59.0|Alberta Freund_El...|      India|
| 28|Female|    Claude Panos| Cloud|      72409| 75.0|Sheryll Towler_Al...|      India|
| 28|  Male|  Celeste Lollis|   MVC|      81492| 54.0|Nicole Harwood_Cl...|      India|
| 29|  Male|  Cordie Harnois|   OOP|      92882| 41.0|Judie Chipps_Clem...|      India|
| 29|Female|       Kena Wild|   DSA|     102285| 25.0|Dustin Feagins_Ma...|      India|
| 29|  Male| Ernest Rossbach|    DB|     111449| 43.0|Maybell Duguay_Ab...|      India|
| 28|Female|  Latia Vanhoose|    DB|     122502| 17.0|Latia Vanhoose_Mi...|      India|
| 29|Female|  Latia Vanhoose|   MVC|     132110| 45.0|Eda Neathery_Nico...|      India|
| 29|  Male|     Neda Briski|    PF|     141770| 32.0|Margene Moores_Mi...|      India|
| 29|Female|  Latia Vanhoose|    DB|     152159| 17.0|Claude Panos_Sant...|      India|
| 29|  Male|  Loris Crossett|   MVC|     161771| 26.0|Mitzi Seldon_Jenn...|      India|
| 29|  Male|  Annika Hoffman|   OOP|     171660| 12.0|Taryn Brownlee_Mi...|      India|
| 29|  Male|   Santa Kerfien|    PF|     182129| 46.0|Judie Chipps_Tary...|      India|
| 28|Female|Mickey Cortright|    DB|     192537| 52.0|Ernest Rossbach_M...|      India|
+---+------+----------------+------+-----------+-----+--------------------+-----------+
only showing top 20 rows

In [39]:
df.select(col('name').alias('Full Name')).show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

In [40]:
df.show()

+---+------+----------------+------+-----------+-----+--------------------+-----------+
|age|   sex|            name|course|roll number|marks|               email|Contry_name|
+---+------+----------------+------+-----------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|       2984| 49.0|Annika Hoffman_Na...|      India|
| 29|Female|Toshiko Hillyard| Cloud|      12899| 52.0|Margene Moores_Ma...|      India|
| 28|  Male|  Celeste Lollis|    PF|      21267| 35.0|Jeannetta Golden_...|      India|
| 29|Female|    Elenore Choy|    DB|      32877| 19.0|Billi Clore_Mitzi...|      India|
| 28|  Male|  Sheryll Towler|   DSA|      41487| 31.0|Claude Panos_Judi...|      India|
| 28|  Male|  Margene Moores|   MVC|      52771| 22.0|Toshiko Hillyard_...|      India|
| 28|  Male|     Neda Briski|   OOP|      61973| 59.0|Alberta Freund_El...|      India|
| 28|Female|    Claude Panos| Cloud|      72409| 75.0|Sheryll Towler_Al...|      India|
| 28|  Male|  Celeste Lollis|   MVC|      81492| 54.0|Nicole Harwood_Cl...|      India|
| 29|  Male|  Cordie Harnois|   OOP|      92882| 41.0|Judie Chipps_Clem...|      India|
| 29|Female|       Kena Wild|   DSA|     102285| 25.0|Dustin Feagins_Ma...|      India|
| 29|  Male| Ernest Rossbach|    DB|     111449| 43.0|Maybell Duguay_Ab...|      India|
| 28|Female|  Latia Vanhoose|    DB|     122502| 17.0|Latia Vanhoose_Mi...|      India|
| 29|Female|  Latia Vanhoose|   MVC|     132110| 45.0|Eda Neathery_Nico...|      India|
| 29|  Male|     Neda Briski|    PF|     141770| 32.0|Margene Moores_Mi...|      India|
| 29|Female|  Latia Vanhoose|    DB|     152159| 17.0|Claude Panos_Sant...|      India|
| 29|  Male|  Loris Crossett|   MVC|     161771| 26.0|Mitzi Seldon_Jenn...|      India|
| 29|  Male|  Annika Hoffman|   OOP|     171660| 12.0|Taryn Brownlee_Mi...|      India|
| 29|  Male|   Santa Kerfien|    PF|     182129| 46.0|Judie Chipps_Tary...|      India|
| 28|Female|Mickey Cortright|    DB|     192537| 52.0|Ernest Rossbach_M...|      India|
+---+------+----------------+------+-----------+-----+--------------------+-----------+
only showing top 20 rows

In [41]:
# alias name of any column
df= df.select(col('name').alias('Full Name'))

In [43]:
df.show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

In [45]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

# Filter rows as SQL query

In [46]:
df.filter(df.course=='DB').show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [47]:
df.filter(df.marks>50).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 29|Female|    Claude Panos| Cloud|302130|   59|Sheryll Towler_Le...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|  Loris Crossett|    PF|332739|   62|Michelle Ruggiero...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [48]:
# select * from student where course in ['DB', 'Cloud','OOP'] is in method
course_value= ['DB', 'Cloud','OOP']
df.filter(df.course.isin(course_value)).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 28|Female|  Maybell Duguay| Cloud|261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Cheri Kenney| Cloud|281408|   43|Annika Hoffman_Me...|
| 29|Female|    Claude Panos| Cloud|302130|   59|Sheryll Towler_Le...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|  Male| Hubert Oliveras|   OOP|351719|   63|Lawanda Wohlwend_...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [51]:
# select * from student where course in ['DB', 'Cloud','OOP']
# course_value= ['DB', 'Cloud','OOP']
df.filter(df.course.isin(['DB', 'Cloud'])).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Maybell Duguay| Cloud|261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Cheri Kenney| Cloud|281408|   43|Annika Hoffman_Me...|
| 29|Female|    Claude Panos| Cloud|302130|   59|Sheryll Towler_Le...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 28|Female|   Kizzy Brenner| Cloud|402409|   27|Ernest Rossbach_G...|
| 29|Female|  Somer Stoecker| Cloud|442028|   34|Taryn Brownlee_Ta...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
| 29|  Male|     Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

# Search course with particular String Pattern

# In SQL like operators
## like 'A%'
## like '%D%'
## like '_S%'
## like '__P%'
## like '_E_' ---> 'PEn'
## like '_[ABCDE]%'
## like '_[^ABCDE]%'
## like '_[A-K]%'  
## like '_[^A-K]%'

In [53]:
# startswith
df.filter(df.name.startswith('A')).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 29|  Male|Annika Hoffman|   OOP| 171660|   22|Taryn Brownlee_Mi...|
| 29|Female|   Anna Santos| Cloud| 242254|   68|Jc Andrepont_Hube...|
| 28|Female|Alberta Freund|   OOP| 251805|   83|Annika Hoffman_Sh...|
| 28|Female|   Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|Female|   Anna Santos|   DSA| 411479|   42|Kena Wild_Mitzi S...|
| 29|  Male|Annika Hoffman|   OOP| 472550|   35|Mitzi Seldon_Abra...|
| 28|  Male|Annika Hoffman| Cloud| 722193|   55|Taryn Brownlee_El...|
| 28|  Male|Alberta Freund|    PF| 781061|   75|Leontine Phillips...|
| 28|  Male|   Anna Santos|   OOP| 822396|   47|Leontine Phillips...|
| 29|  Male|   Abram Nagao|   MVC| 962235|   32|Jenna Montague_Go...|
| 28|  Male|Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 29|  Male|   Abram Nagao|    PF|1112161|   42|Nicole Harwood_Ni...|
| 29|Female|   Abram Nagao|   DSA|1181007|   57|Anna Santos_Anna ...|
| 28|  Male|   Abram Nagao|   DSA|1382959|   66|Michelle Ruggiero...|
| 29|Female|Annika Hoffman|   OOP|1551846|   50|Paris Hutton_Mela...|
| 28|  Male|   Anna Santos|   OOP|1621905|   24|Elenore Choy_Sant...|
| 29|  Male|Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 29|Female|   Anna Santos|   DSA|1702439|   64|Naoma Fritts_Tosh...|
| 28|Female|   Anna Santos|   DSA|1741879|   89|Nicole Harwood_La...|
| 28|  Male|Alberta Freund| Cloud|1802934|   24|Maybell Duguay_Pa...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

In [56]:
# endswith
df.filter(df.name.endswith('d')).show()

+---+------+----------------+------+-------+-----+--------------------+
|age|gender|            name|course|   roll|marks|               email|
+---+------+----------------+------+-------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud|  12899|   62|Margene Moores_Ma...|
| 29|Female|       Kena Wild|   DSA| 102285|   35|Dustin Feagins_Ma...|
| 28|Female|       Kena Wild| Cloud| 221750|   60|Mitzi Seldon_Jenn...|
| 28|Female|  Alberta Freund|   OOP| 251805|   83|Annika Hoffman_Sh...|
| 28|  Male|Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|Toshiko Hillyard|   OOP| 521221|   77|Hubert Oliveras_L...|
| 28|  Male|  Alberta Freund|    PF| 781061|   75|Leontine Phillips...|
| 28|Female|Lawanda Wohlwend|   DSA| 951686|   60|Loris Crossett_Ni...|
| 28|Female|  Nicole Harwood|   MVC|1061068|   82|Santa Kerfien_Hub...|
| 29|  Male|  Nicole Harwood| Cloud|1152571|   62|Latia Vanhoose_Ma...|
| 28|  Male|  Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 28|  Male|  Nicole Harwood|   OOP|1242426|   71|Billi Clore_Loris...|
| 28|Female|Toshiko Hillyard|   DSA|1282835|   79|Somer Stoecker_To...|
| 28|  Male|Lawanda Wohlwend|    PF|1372552|   88|Hubert Oliveras_T...|
| 28|Female|  Nicole Harwood|    PF|1441367|   95|Jc Andrepont_Anna...|
| 29|Female|Lawanda Wohlwend|   MVC|1482889|   65|Gonzalo Ferebee_D...|
| 29|  Male|  Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 29|Female|Lawanda Wohlwend|   MVC|1751381|   75|Jalisa Swenson_Ni...|
| 29|  Male|  Nicole Harwood|   MVC|1761454|   34|Taryn Brownlee_Bi...|
| 29|  Male|Toshiko Hillyard|   DSA|1791364|   50|Jc Andrepont_Nico...|
+---+------+----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [57]:
# contains
df.filter(df.name.contains('Har')).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 29|  Male|Cordie Harnois|   OOP|  92882|   51|Judie Chipps_Clem...|
| 28|Female|Nicole Harwood|   MVC|1061068|   82|Santa Kerfien_Hub...|
| 29|  Male|Nicole Harwood| Cloud|1152571|   62|Latia Vanhoose_Ma...|
| 28|  Male|Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 28|Female|Cordie Harnois|   OOP|1231943|   68|Mickey Cortright_...|
| 28|  Male|Nicole Harwood|   OOP|1242426|   71|Billi Clore_Loris...|
| 28|Female|Nicole Harwood|    PF|1441367|   95|Jc Andrepont_Anna...|
| 28|Female|Cordie Harnois|   MVC|1501333|   94|Gonzalo Ferebee_T...|
| 29|  Male|Nicole Harwood|   MVC|1761454|   34|Taryn Brownlee_Bi...|
| 29|Female|Nicole Harwood|   MVC|2481418|   91|Kizzy Brenner_Pri...|
| 29|  Male|Nicole Harwood| Cloud|2581369|   26|Paris Hutton_Albe...|
| 29|Female|Nicole Harwood|   DSA|2751838|   47|Donna Yerby_Lawan...|
| 29|  Male|Nicole Harwood|   OOP|3132620|   88|Jeannetta Golden_...|
| 29|  Male|Cordie Harnois|    PF|3201624|   41|Maybell Duguay_So...|
| 29|Female|Cordie Harnois|   MVC|3391820|   55|Paris Hutton_Albe...|
| 28|  Male|Cordie Harnois|    PF|3991186|   69|Loris Crossett_So...|
| 29|Female|Nicole Harwood|   DSA|4562217|   40|Anna Santos_Cheri...|
| 29|  Male|Cordie Harnois|    PF|5691278|   24|Paris Hutton_Hube...|
| 28|Female|Nicole Harwood|    DB|5862606|   77|Clementina Menke_...|
| 28|Female|Nicole Harwood|    DB|6522046|   79|Naoma Fritts_Marg...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

In [58]:
df.filter(df.name.like('%s%e%')).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|  Male|    Celeste Lollis|    PF|  21267|   45|Jeannetta Golden_...|
| 28|  Male|    Celeste Lollis|   MVC|  81492|   64|Nicole Harwood_Cl...|
| 28|Female|    Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|    Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|    Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|    Loris Crossett|   MVC| 161771|   36|Mitzi Seldon_Jenn...|
| 29|Female|    Loris Crossett|    PF| 201487|   96|Elenore Choy_Lati...|
| 28|Female|    Dustin Feagins|   DSA| 291984|   82|Abram Nagao_Kena ...|
| 28|Female|    Loris Crossett|    PF| 332739|   62|Michelle Ruggiero...|
| 29|  Male|    Jalisa Swenson|    PF| 372873|   45|Ernest Rossbach_T...|
| 28|Female|    Jalisa Swenson|   OOP| 431352|   25|Gonzalo Ferebee_J...|
| 28|  Male|    Dustin Feagins|    PF| 461839|   51|Neda Briski_Eleno...|
| 29|  Male|    Celeste Lollis|   DSA| 562065|   85|Jc Andrepont_Mela...|
| 28|  Male|Priscila Tavernier|    PF| 642594|   27|Marylee Capasso_C...|
| 28|Female|    Celeste Lollis|   DSA| 731879|   76|Hubert Oliveras_G...|
| 29|  Male|    Loris Crossett|    PF| 911593|   46|Gonzalo Ferebee_M...|
| 29|Female|    Dustin Feagins|   OOP|1161607|   37|Eda Neathery_Mary...|
| 28|  Male|    Jalisa Swenson|    PF|1192555|   77|Marylee Capasso_C...|
| 29|  Male|    Jalisa Swenson| Cloud|1261533|   70|Dustin Feagins_Ni...|
| 29|  Male|    Jalisa Swenson|    PF|1332072|   88|Billi Clore_Kizzy...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows