In [ ]:
# Databricks notebook source
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Second App").getOrCreate()

In [ ]:
df= spark.read.options(header='True',inferScema='True').csv('/content/sample_data/StudentData_.csv')

In [ ]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

# lit()

The lit() function is used to create a literal value in a PySpark DataFrame. This is useful when you want to add a constant value to a DataFrame column.
For example, if you want to add a new column with the same value for every row, you can use lit().

In [ ]:
from pyspark.sql.functions import lit

df.withColumn("new_column", lit(100)).show()

+---+------+----------------+------+------+-----+--------------------+----------+
|age|gender|            name|course|  roll|marks|               email|new_column|
+---+------+----------------+------+------+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|       100|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|       100|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|       100|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|       100|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|       100|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|       100|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|       100|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|       100|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|       100|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|       100|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|       100|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|       100|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|       100|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|       100|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|       100|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|       100|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|       100|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|       100|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|       100|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|       100|
+---+------+----------------+------+------+-----+--------------------+----------+
only showing top 20 rows

In [ ]:
df = df.withColumn("total_marks", lit(120))

In [ ]:
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+
|age|gender|            name|course|  roll|marks|               email|total_marks|
+---+------+----------------+------+------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120|
+---+------+----------------+------+------+-----+--------------------+-----------+
only showing top 20 rows

# Col()

The col() function is used to refer to an existing column in a DataFrame. It allows you to reference a column to perform transformations or computations.

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df = df.withColumn("average", (col("marks") / col ("total_marks"))*100 )

In [ ]:
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
|age|gender|            name|course|  roll|marks|               email|total_marks|           average|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|              37.5|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|24.166666666666668|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|26.666666666666668|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120| 57.49999999999999|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120| 70.83333333333334|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|53.333333333333336|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|              42.5|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|29.166666666666668|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|44.166666666666664|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|              22.5|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120| 45.83333333333333|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|              35.0|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|              22.5|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|              30.0|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|18.333333333333332|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|46.666666666666664|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120| 51.66666666666667|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [ ]:
df_OOP = df.filter((df.course == "OOP") & (df.average > 80))
df_OOP.show()

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total_marks|          average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|81.66666666666667|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
| 29|  Male|    Margene Moores|   OOP|5621072|   97|Sheryll Towler_Ma...|        120|80.83333333333333|
| 29|  Male|      Jc Andrepont|   OOP|8022618|   97|Cordie Harnois_Ja...|        120|80.83333333333333|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|        120|81.66666666666667|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|             82.5|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+

In [ ]:
# COMMAND ----------

df_Cloud = df.filter((df.course == "Cloud") & (df.average > 60))
df_Cloud.show()
# COMMAND ----------

+---+------+-----------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|             name|course|   roll|marks|               email|total_marks|          average|
+---+------+-----------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|Female|     Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|        120|70.83333333333334|
| 29|  Male|      Billi Clore| Cloud| 512047|   76|Taryn Brownlee_Ju...|        120|63.33333333333333|
| 28|Female|   Somer Stoecker| Cloud| 612490|   82|Sebrina Maresca_G...|        120|68.33333333333333|
| 29|Female|     Judie Chipps| Cloud| 632793|   75|Tijuana Kropf_Ele...|        120|             62.5|
| 29|Female|     Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|        120|75.83333333333333|
| 28|  Male|   Bonita Higuera| Cloud|1312294|   94|Eda Neathery_Pris...|        120|78.33333333333333|
| 29|Female|  Hubert Oliveras| Cloud|1392791|   94|Anna Santos_Alber...|        120|78.33333333333333|
| 28|Female|      Neda Briski| Cloud|1651303|   74|Ernest Rossbach_D...|        120|61.66666666666667|
| 28|Female|   Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|        120|             82.5|
| 28|Female|     Paris Hutton| Cloud|2051881|   79|Melani Engberg_Ma...|        120|65.83333333333333|
| 28|Female|     Eda Neathery| Cloud|2071302|   95|Latia Vanhoose_Do...|        120|79.16666666666666|
| 28|  Male|      Neda Briski| Cloud|2092176|   81|Celeste Lollis_Ma...|        120|             67.5|
| 28|Female|    Tijuana Kropf| Cloud|2121632|   78|Michelle Ruggiero...|        120|             65.0|
| 28|Female|   Jenna Montague| Cloud|2402240|   96|Annika Hoffman_Du...|        120|             80.0|
| 29|Female|   Dustin Feagins| Cloud|2421900|   89|Niki Klimek_Latia...|        120|74.16666666666667|
| 28|Female|  Ernest Rossbach| Cloud|2602027|   83|Alberta Freund_Go...|        120|69.16666666666667|
| 28|  Male|Leontine Phillips| Cloud|3011586|   76|Dustin Feagins_Al...|        120|63.33333333333333|
| 29|Female|  Sebrina Maresca| Cloud|3261159|   97|Maybell Duguay_Ja...|        120|80.83333333333333|
| 28|  Male| Clementina Menke| Cloud|3352508|   95|Naoma Fritts_Mick...|        120|79.16666666666666|
| 28|  Male|    Kizzy Brenner| Cloud|3581303|   80|Margene Moores_Ta...|        120|66.66666666666666|
+---+------+-----------------+------+-------+-----+--------------------+-----------+-----------------+
only showing top 20 rows

In [ ]:
df_OOP.select("name","marks").show()
# df_OOP.show()
# COMMAND ----------

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Jenna Montague|   98|
|Priscila Tavernier|   99|
|      Judie Chipps|   99|
|    Margene Moores|   97|
|      Jc Andrepont|   97|
|    Loris Crossett|   98|
|    Loris Crossett|   99|
+------------------+-----+

In [ ]:
df_Cloud.select("name","marks").show()
# df_Cloud.show()

+-----------------+-----+
|             name|marks|
+-----------------+-----+
|     Claude Panos|   85|
|      Billi Clore|   76|
|   Somer Stoecker|   82|
|     Judie Chipps|   75|
|     Eda Neathery|   91|
|   Bonita Higuera|   94|
|  Hubert Oliveras|   94|
|      Neda Briski|   74|
|   Melani Engberg|   99|
|     Paris Hutton|   79|
|     Eda Neathery|   95|
|      Neda Briski|   81|
|    Tijuana Kropf|   78|
|   Jenna Montague|   96|
|   Dustin Feagins|   89|
|  Ernest Rossbach|   83|
|Leontine Phillips|   76|
|  Sebrina Maresca|   97|
| Clementina Menke|   95|
|    Kizzy Brenner|   80|
+-----------------+-----+
only showing top 20 rows

In [ ]:
df.filter(df.course == "DB").count()

# COMMAND ----------

157

In [ ]:
df.select("gender").distinct().show()

# COMMAND ----------

+------+
|gender|
+------+
|Female|
|  Male|
| Male |
|  NULL|
+------+

In [ ]:
df.dropDuplicates(["gender","course"]).show()

+----+------+----------------+------+------+-----+--------------------+-----------+------------------+
| age|gender|            name|course|  roll|marks|               email|total_marks|           average|
+----+------+----------------+------+------+-----+--------------------+-----------+------------------+
|NULL|  NULL|            NULL|  NULL|  NULL| NULL|                NULL|        120|              NULL|
|  29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
|  28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
|  29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|29.166666666666668|
|  29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120| 45.83333333333333|
|  28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|        120| 69.16666666666667|
|  29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|        120|              80.0|
|  29|  Male|     Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|        120| 63.33333333333333|
|  29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|44.166666666666664|
|  28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
|  28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|26.666666666666668|
|  28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120| 57.49999999999999|
|  28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|              37.5|
|  31| Male |            NULL|   DSA|  NULL|   ? |                NULL|        120|              NULL|
+----+------+----------------+------+------+-----+--------------------+-----------+------------------+

In [ ]:
df.dropDuplicates(["gender","course"]).count()

14

In [ ]:
df2 = df.select("age","gender","course")
df2.distinct().show()
df2.distinct().count()

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|Female|   OOP|
| 28|  Male|    DB|
| 29|  Male|   OOP|
| 29|  Male|   DSA|
| 28|Female|    PF|
| 28|Female|   DSA|
| 29|  Male|   MVC|
| 29|Female|    PF|
| 29|  Male|    DB|
| 29|Female|   MVC|
| 29|Female|    DB|
| 28|  Male|   OOP|
| 28|  Male|   DSA|
| 28|Female|   MVC|
| 28|  Male|   MVC|
| 28|Female|    DB|
| 29|Female|   DSA|
| 29|Female| Cloud|
| 28|  Male| Cloud|
| 31| Male |   DSA|
+---+------+------+
only showing top 20 rows

26

In [ ]:
df3 = df.dropDuplicates(["age", "gender", "course"])
df3.show()
df3.count()

+----+------+----------------+------+------+-----+--------------------+-----------+------------------+
| age|gender|            name|course|  roll|marks|               email|total_marks|           average|
+----+------+----------------+------+------+-----+--------------------+-----------+------------------+
|NULL|  NULL|            NULL|  NULL|  NULL| NULL|                NULL|        120|              NULL|
|  28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120| 70.83333333333334|
|  28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
|  28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|        120|48.333333333333336|
|  28|Female|    Cheri Kenney|   MVC|321816|   24|Kena Wild_Michell...|        120|              20.0|
|  28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|        120| 69.16666666666667|
|  28|Female|  Loris Crossett|    PF|332739|   62|Michelle Ruggiero...|        120| 51.66666666666667|
|  28|  Male|  Annika Hoffman| Cloud|722193|   55|Taryn Brownlee_El...|        120| 45.83333333333333|
|  28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|        120|              30.0|
|  28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
|  28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|26.666666666666668|
|  28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120| 57.49999999999999|
|  28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|              37.5|
|  29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
|  29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|24.166666666666668|
|  29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|29.166666666666668|
|  29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120| 45.83333333333333|
|  29|Female|    Claude Panos|   OOP|542821|   28|Hubert Oliveras_P...|        120|23.333333333333332|
|  29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|        120|              80.0|
|  29|  Male|     Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|        120| 63.33333333333333|
+----+------+----------------+------+------+-----+--------------------+-----------+------------------+
only showing top 20 rows

26

In [ ]:
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
|age|gender|            name|course|  roll|marks|               email|total_marks|           average|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|              37.5|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|24.166666666666668|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|26.666666666666668|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120| 57.49999999999999|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120| 70.83333333333334|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|53.333333333333336|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|              42.5|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|29.166666666666668|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|44.166666666666664|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|              22.5|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120| 45.83333333333333|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|              35.0|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|              22.5|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|              30.0|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|18.333333333333332|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|46.666666666666664|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120| 51.66666666666667|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [ ]:
df.sort(df.marks, df.age).show()

+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
| age|gender|             name|course|   roll|marks|               email|total_marks|           average|
+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
|NULL|  NULL|             NULL|  NULL|   NULL| NULL|                NULL|        120|              NULL|
|  28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|        120|16.666666666666664|
|  28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|        120|16.666666666666664|
|  28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|        120|16.666666666666664|
|  29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|        120|16.666666666666664|
|  29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|        120|16.666666666666664|
|  29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|        120|16.666666666666664|
|  29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|        120|16.666666666666664|
|  29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|        120|16.666666666666664|
|  29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|        120|16.666666666666664|
|  28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|        120|              17.5|
|  28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|        120|              17.5|
|  28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|        120|              17.5|
|  28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|        120|              17.5|
|  28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|        120|              17.5|
|  29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|        120|              17.5|
|  29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|        120|              17.5|
|  29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|        120|              17.5|
|  29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|        120|              17.5|
|  29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|        120|              17.5|
+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import desc

# Sorting by 'marks' and 'age' in descending order
df.sort(desc("marks"), desc("age")).show()

# Sorting by 'marks' in descending order
df.sort(desc("marks")).show()

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total_marks|          average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 31| Male |              NULL|   DSA|   NULL|   ? |                NULL|        120|             NULL|
| 29|Female|      Paris Hutton|   DSA| 271472|   99|Sheryll Towler_Al...|        120|             82.5|
| 29|  Male|    Maybell Duguay|    PF| 701486|   99|Clementina Menke_...|        120|             82.5|
| 29|  Male| Michelle Ruggiero|   DSA|1022971|   99|Cordie Harnois_Cl...|        120|             82.5|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 29|  Male|   Gonzalo Ferebee|   MVC|5772006|   99|Niki Klimek_Marge...|        120|             82.5|
| 29|Female|    Alberta Freund|   DSA|6071316|   99|Dustin Feagins_Se...|        120|             82.5|
| 29|Female|      Eda Neathery|    PF|9222608|   99|Kena Wild_Lawanda...|        120|             82.5|
| 28|Female|    Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|        120|             82.5|
| 28|  Male|       Niki Klimek|   DSA|5172507|   99|Marylee Capasso_E...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
| 28|Female|    Jalisa Swenson|   MVC|5712033|   99|Dustin Feagins_Hu...|        120|             82.5|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|             82.5|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|        120|81.66666666666667|
| 29|  Male|    Melani Engberg|    DB|2941257|   98|Claude Panos_Kena...|        120|81.66666666666667|
| 29|Female|  Clementina Menke|   DSA|3982381|   98|Tamera Blakley_Ki...|        120|81.66666666666667|
| 29|Female|  Lawanda Wohlwend| Cloud|7222880|   98|Sheryll Towler_An...|        120|81.66666666666667|
| 28|Female|    Somer Stoecker|    PF|5882098|   98|Judie Chipps_Clem...|        120|81.66666666666667|
| 28|  Male|  Clementina Menke|   DSA|2772189|   98|Donna Yerby_Judie...|        120|81.66666666666667|
| 28|Female|      Judie Chipps|   DSA|4631068|   98|Toshiko Hillyard_...|        120|81.66666666666667|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
only showing top 20 rows

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total_marks|          average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 31| Male |              NULL|   DSA|   NULL|   ? |                NULL|        120|             NULL|
| 28|  Male|       Niki Klimek|   DSA|5172507|   99|Marylee Capasso_E...|        120|             82.5|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|             82.5|
| 29|  Male|    Maybell Duguay|    PF| 701486|   99|Clementina Menke_...|        120|             82.5|
| 29|Female|      Eda Neathery|    PF|9222608|   99|Kena Wild_Lawanda...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 29|Female|      Paris Hutton|   DSA| 271472|   99|Sheryll Towler_Al...|        120|             82.5|
| 29|  Male| Michelle Ruggiero|   DSA|1022971|   99|Cordie Harnois_Cl...|        120|             82.5|
| 28|Female|    Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|        120|             82.5|
| 28|Female|    Jalisa Swenson|   MVC|5712033|   99|Dustin Feagins_Hu...|        120|             82.5|
| 29|  Male|   Gonzalo Ferebee|   MVC|5772006|   99|Niki Klimek_Marge...|        120|             82.5|
| 29|Female|    Alberta Freund|   DSA|6071316|   99|Dustin Feagins_Se...|        120|             82.5|
| 29|  Male|    Melani Engberg|    DB|2941257|   98|Claude Panos_Kena...|        120|81.66666666666667|
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|81.66666666666667|
| 29|Female|  Lawanda Wohlwend| Cloud|7222880|   98|Sheryll Towler_An...|        120|81.66666666666667|
| 28|  Male|  Clementina Menke|   DSA|2772189|   98|Donna Yerby_Judie...|        120|81.66666666666667|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|        120|81.66666666666667|
| 28|Female|      Judie Chipps|   DSA|4631068|   98|Toshiko Hillyard_...|        120|81.66666666666667|
| 28|  Male|    Dustin Feagins|    DB|8871049|   98|Jenna Montague_Cl...|        120|81.66666666666667|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
only showing top 20 rows

In [ ]:
# COMMAND ----------

df.orderBy(df.marks, df.age).show()

+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
| age|gender|             name|course|   roll|marks|               email|total_marks|           average|
+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
|NULL|  NULL|             NULL|  NULL|   NULL| NULL|                NULL|        120|              NULL|
|  28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|        120|16.666666666666664|
|  28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|        120|16.666666666666664|
|  28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|        120|16.666666666666664|
|  29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|        120|16.666666666666664|
|  29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|        120|16.666666666666664|
|  29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|        120|16.666666666666664|
|  29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|        120|16.666666666666664|
|  29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|        120|16.666666666666664|
|  29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|        120|16.666666666666664|
|  28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|        120|              17.5|
|  28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|        120|              17.5|
|  28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|        120|              17.5|
|  28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|        120|              17.5|
|  28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|        120|              17.5|
|  29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|        120|              17.5|
|  29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|        120|              17.5|
|  29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|        120|              17.5|
|  29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|        120|              17.5|
|  29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|        120|              17.5|
+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [ ]:
# COMMAND ----------

df.sort(df.marks.asc(), df.age.desc()).show()

+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
| age|gender|             name|course|   roll|marks|               email|total_marks|           average|
+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
|NULL|  NULL|             NULL|  NULL|   NULL| NULL|                NULL|        120|              NULL|
|  29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|        120|16.666666666666664|
|  29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|        120|16.666666666666664|
|  29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|        120|16.666666666666664|
|  29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|        120|16.666666666666664|
|  29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|        120|16.666666666666664|
|  29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|        120|16.666666666666664|
|  28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|        120|16.666666666666664|
|  28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|        120|16.666666666666664|
|  28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|        120|16.666666666666664|
|  29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|        120|              17.5|
|  29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|        120|              17.5|
|  29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|        120|              17.5|
|  29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|        120|              17.5|
|  29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|        120|              17.5|
|  28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|        120|              17.5|
|  28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|        120|              17.5|
|  28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|        120|              17.5|
|  28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|        120|              17.5|
|  28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|        120|              17.5|
+----+------+-----------------+------+-------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [ ]:
# Casting 'marks' to integer and grouping by 'gender'
df = df.withColumn("marks", col("marks").cast("int"))

In [ ]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- total_marks: integer (nullable = false)
 |-- average: double (nullable = true)

In [ ]:
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|  NULL|      NULL|
|Female|     29636|
|  Male|     30461|
| Male |      NULL|
+------+----------+

In [ ]:
df.groupBy("gender").count().show()
df.groupBy("course").count().show()

+------+-----+
|gender|count|
+------+-----+
|  NULL|    1|
|Female|  501|
|  Male|  499|
| Male |    1|
+------+-----+

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|  NULL|    1|
|    DB|  157|
|   MVC|  157|
|   DSA|  177|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [ ]:
df.groupBy("age").avg("marks").show()

+----+------------------+
| age|        avg(marks)|
+----+------------------+
|  29|59.715415019762844|
|  28|60.487854251012145|
|NULL|              NULL|
|  31|              NULL|
+----+------------------+

In [ ]:
df.groupBy("gender").mean("marks").show()

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|  NULL|              NULL|
|Female|59.153692614770456|
|  Male| 61.04408817635271|
| Male |              NULL|
+------+------------------+

In [ ]:
from pyspark.sql.functions import sum,avg,max,min,mean,count

# COMMAND ----------

df.groupBy("course","gender").agg(count("*").alias("total_enrollments"), sum("marks").alias("total_marks"), min("marks").alias("min_makrs"), max("marks"), avg("marks")).show()

+------+------+-----------------+-----------+---------+----------+------------------+
|course|gender|total_enrollments|total_marks|min_makrs|max(marks)|        avg(marks)|
+------+------+-----------------+-----------+---------+----------+------------------+
|   OOP|  Male|               70|       4234|       20|        99| 60.48571428571429|
|    DB|  Male|               82|       5073|       20|        98| 61.86585365853659|
| Cloud|Female|              106|       6316|       20|        99| 59.58490566037736|
|  NULL|  NULL|                1|       NULL|     NULL|      NULL|              NULL|
|   MVC|  Male|               86|       5241|       22|        99| 60.94186046511628|
|   DSA|Female|               98|       6124|       20|        99| 62.48979591836735|
|   DSA| Male |                1|       NULL|     NULL|      NULL|              NULL|
|    PF|  Male|               97|       5960|       20|        99| 61.44329896907217|
|   MVC|Female|               71|       4344|       22|        99|61.183098591549296|
| Cloud|  Male|               86|       5127|       21|        97|59.616279069767444|
|    PF|Female|               69|       3973|       20|        99| 57.57971014492754|
|   DSA|  Male|               78|       4826|       20|        99| 61.87179487179487|
|    DB|Female|               75|       4197|       20|        96|             55.96|
|   OOP|Female|               82|       4682|       21|        99| 57.09756097560975|
+------+------+-----------------+-----------+---------+----------+------------------+

# Work on Text file

The 'value' refers to the default column name that PySpark assigns when reading a file using the .text() method. When you use the text() method to load a text file, each line of the file is treated as a single string, and PySpark assigns the column name value to represent the contents of each line.

So, in this case:

df contains a DataFrame where each row is a line from the file WordData.txt, and each line is stored in a column named value.

In [ ]:
# COMMAND ----------

df = spark.read.options().text('/content/sample_data/WordData.txt')
df.show()

# COMMAND ----------

df.groupBy('value').count().show()

+------+
| value|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Chair|
| Chair|
| Chair|
|   Bag|
|Mobile|
|  Book|
| Chair|
| Chair|
| Chair|
|   Bag|
+------+
only showing top 20 rows

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+

In [ ]:

spark.sql("select course, gender, count(*) from Student group by course, gender").show()
df.groupBy("course", "gender").count().show()

+------+------+--------+
|course|gender|count(1)|
+------+------+--------+
|   OOP|  Male|      70|
|    DB|  Male|      82|
| Cloud|Female|     106|
|  NULL|  NULL|       1|
|   MVC|  Male|      86|
|   DSA|Female|      98|
|   DSA| Male |       1|
|    PF|  Male|      97|
|   MVC|Female|      71|
| Cloud|  Male|      86|
|    PF|Female|      69|
|   DSA|  Male|      78|
|    DB|Female|      75|
|   OOP|Female|      82|
+------+------+--------+

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|  NULL|  NULL|    1|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|   DSA| Male |    1|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
|    DB|Female|   75|
|   OOP|Female|   82|
+------+------+-----+